.header {
  color: #000000;

  @media (min-width: $breakpoint-768) {
    padding: 0 var(--container-side-padding);
    border-bottom: 1px solid #ececec;
  }
}

.header__nav {
  position: relative;

  @media (min-width: $breakpoint-768) {
    display: flex;
    max-width: 1150px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }
}

.header__logo-wrapper {
  display: flex;
  padding: 22px var(--container-side-padding);
  border-bottom: 1px solid #ececec;

  @media (min-width: $breakpoint-768) {
    padding: 0;
    border: 0;
  }
}

.header__logo {
  margin: 0 auto;
}

.header__logo img {
  display: block;
  width: 86px;
  height: 35px;

  @media (min-width: $breakpoint-768) {
    width: 114px;
    height: 46px;
  }
}

.header__site-nav,
.header__user-nav {
  @include reset-list;

  transform: translateX(-3000px);
  transition: transform 0.3s ease;
  visibility: hidden;

  @media (min-width: $breakpoint-768) {
    transform: none;
    visibility: visible;
  }
}

.header__site-nav {
  @media (min-width: $breakpoint-768) {
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    max-width: 500px;
    gap: 37px;
  }
}

.header__site-link {
  @include nav-link-states;

  display: block;
  padding: 27px 0 27px 76px;
  border-bottom: 1px solid #ececec;
  color: inherit;
  font-size: 1.13rem;
  font-weight: 700;
  line-height: 1.41;
  text-decoration: none;

  @media (min-width: $breakpoint-768) {
    padding: 22px 0;
    border-bottom: 0;
    font-size: inherit;
    line-height: inherit;
  }
}

.header__user-nav {
  @media (min-width: $breakpoint-768) {
    display: flex;
    max-width: 600px;
  }
}


.header__user-link {
  @include nav-link-states;

  display: flex;
  padding: 27px 0 27px var(--container-side-padding);
  border-bottom: 1px solid #ececec;
  color: inherit;
  font-size: 1.13rem;
  font-weight: 700;
  line-height: 1.41;
  text-decoration: none;

  svg {
    margin-right: 25px;
    fill: rgba(#000000, 0.2);
  }

  &:hover svg {
    fill: $secondaryColor;
  }

  &:active svg {
    fill: rgba($secondaryColor, 0.3);
  }

  @media (min-width: $breakpoint-768) {
    padding: 32px 0;
    border-bottom: 0;

    svg {
      margin-right: 0;
    }
  }
}

.header__user-link--search {
  @media (min-width: $breakpoint-768) {
    display: flex;
    width: 82px;
    height: 88px;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #ececec;
    border-left: 1px solid #ececec;
    margin: 0;
  }
}

.header__user-link--cart svg {
  @media (min-width: $breakpoint-768) {
    margin: 0 30px;
  }
}

.header__special-nav {
  @include reset-list;
  display: none;
  color: inherit;
  text-decoration: none;

  @media (min-width: $breakpoint-768) {
    position: absolute;
    top: 100%;
    right: 0;
    display: flex;
    max-width: 250px;
    padding: 22px 0;
    gap: 37px;
  }
}

.header__special-link {
  display: none;
}

.header__hint {
  color: $primaryColor;
}

/***** Burger *****/
.header__burger {
  position: absolute;
  top: 32px;
  right: var(--container-side-padding);
  width: 20px;
  height: 14px;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: $breakpoint-768) {
    display: none;
  }
}

.header__burger::before,
.header__burger::after,
.header__burger-span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #231f20;
  content: "";
  transition: all ease 0.3s;
}

.header__burger::before {
  top: 0;
}

.header__burger::after {
  top: 6px;
}

.header__burger-span {
  top: 12px;
}

/***** Menu Toggling *****/
.menu-open {
  .header__burger-span {
    display: none;
  }

  .header__burger::before {
    top: 50%;
    margin-top: -1px;
    transform: rotate(45deg);
  }

  .header__burger::after {
    top: 50%;
    margin-top: -1px;
    transform: rotate(-45deg);
  }
}

.menu-open .header__site-nav,
.menu-open .header__user-nav {
  transform: translateX(0);
  visibility: visible;
}
