// Container & Breakpoints
@use "sass:math";


$breakpoint-768: 768px;
$breakpoint-1150: 1150px;

:root {
  --container-width: 1050px;
  --container-side-padding: calc(var(--container-padding) / 2);

  --container-padding: 60px;
}

@media (min-width: $breakpoint-768) {
  :root {
    --container-padding: 100px;
  }
}

@media (min-width: $breakpoint-1150) {
  :root {
    --container-padding: 100px;
  }
}


//Fonts
$primaryFont: "Open Sans", sans-serif;


//Colors
$primaryColor: #444444;
$secondaryColor: #63d1bb;

//Burger

